.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: crimson;
    font-size: 25px;
}